body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 5px 10px;
}
